.debug #header, .footer_down, .footer_up{
    height: 40px;
}

.debug #start{
    height: 400px;
}

 

*{
    border: 1px dashed black;
}

:root{
    --bls-dark: #333333FF;
    --bls-lighter: #ffffffFF;
    --bls-main: #1abc9cFF;
    --bls-blue: #3a546dFF;
    --bls-footer: #2c3e50FF;
}


#header{
    background-color: var(--bls-footer);
}

#start{
    background-color: var(--bls-main);
}

#about{
    background-color: var(--bls-main);
}

.square{  /*just for layout*/
    width: 70%;
    aspect-ratio: 1;
    background-color: var(--bls-blue);
}

.footer_down{
    background-color: var(--bls-footer);
}

.footer_up{
    background-color: var(--bls-blue);
}